.add_tags2 {
  width: 127px;
  height: 28px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  &_tag1 {
    @include button(51px, 28px, $white, 5px);
    @include border-back($white, 1px solid $border-col);

    span {
      @include text(500, 13px, 16px, $black);
    }
  }

  &_tag2 {
    @include button(51px, 28px, $blue, 5px);
    border: none;
    span {
      @include text(500, 13px, 16px, #ffffff);
    }
  }
}
