.big_sz {
  display: flex;
  width: 321px;
  height: 46px;
  box-sizing: border-box;

  &1 {
    @include button(106px, 46px, $blue, 5px 0px 0px 5px);
    @include text(500, 15px, 18px, $white);
    padding: 0;
    border: none;
  }

  &2 {
    @include button(106px, 46px, $white, 0);
    @include text(500, 15px, 18px, $black);
    @include border-back($white, 1px solid #e0e0e0);
    padding: 0;
  }
  &3 {
    @include button(106px, 46px, $white, 0px 5px 5px 0px);
    @include text(500, 15px, 18px, $black);
    @include border-back($white, 1px solid #e0e0e0);
    padding: 0;
  }
}
