* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: auto;
    width: 100%;
    margin: 0px 0px 0px 0px;
    min-width: 1440px;
}

.header {
    position: relative;
    width: 100%;
    height: 500px;
    left: 0px;
    top: 0px;
    background: #ED4C5C;
    display: flex;
    flex-direction: row;
    gap: 80px;
}

.left-header {
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    margin-top: 122px;
    margin-left: 165px;
}

.header-header {
    width: 445px;
    height: 107px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 600;
    font-size: 36px;
    line-height: 43px;
    color: #FFFFFF;
}

.text-header {
    width: 445px;
    height: 64px;
    margin-top: 24px;
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
    text-align: justify;
    color: #FFFFFF;
}

.links-header {
    margin-top: 40px;
    width: 134px;
    height: 32px;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 25px;
}

.right-header {
    width: 533px;
    height: 311px;
    margin-top: 94px;
}
