* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0;
}

.fon {
  background: linear-gradient(0deg, #0A1E27 100%, rgba(10, 30, 39, 0.4) 87%, rgba(10, 30, 39, 0) 100%);
  background-repeat: no-repeat, no-repeat;
  // background-size: 100% 116%, 100% 24%;
  padding-left: 6.46%;
  padding-right: 6.46%;
  padding-bottom: 3.16%;
}

.header {
  background: linear-gradient(0deg, #0A1E27 0%, rgba(10, 30, 39, 0.1) 99%, rgba(10, 30, 39, 0.3) 45%),
    url(./images/fon.png);
  background-position: center top;
  background-size: 100%;
  width: 100%;
  padding-bottom: 33.6%;
  padding-top: 2%;
  padding-left: 6.46%;
  padding-right: 6.46%;


  &-inf {
    margin-top: 15.2%;
    width: 36%;

    h1 {
      margin-bottom: 1.8%;
    }

    p{
      margin-top: 9%;
      margin-bottom: 9%;
    }
  }
}

.start {
  display: flex;
  flex-direction: column;

  &-inf {
    display: flex;
    flex-direction: row;
    margin-bottom: 2.7%;

    &-text {
      margin-top: 10.1%;
      margin-right: 1.6%;

      span {
        margin-left: -4%;

        &:before {
          position: relative;
          display: inline-block;
          content: "";
          width: 51px;
          height: 2px;
          background-color: #D3BA74;
          top: 0px;
          left: -10px;
          margin-right: 8px;
        }
      }

      h2 {
        margin-top: 2.2%;
        margin-left: -4%;
      }

      p {
        margin-left: -4%;
        margin-top: 3.6%;
      }
    }
  }

  &-foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 12%;
  }
}

.things {
  display: flex;
  flex-direction: row;

  h3 {
    margin-left: 1.6%;
  }

  &-text {
    margin-top: 10%;
    margin-left: -1.3%;

    span {

      &:before {
        position: relative;
        display: inline-block;
        content: "";
        width: 51px;
        height: 2px;
        background-color: #D3BA74;
        top: 0px;
        left: -10px;
        margin-right: 8px;
      }
    }

    h2 {
      margin-top: 2.4%;
      margin-bottom: 4%;
    }
  }
}

.visit {
  display: flex;
  flex-direction: column;
  margin-top: 12%;

  &-inf {
    display: flex;
    flex-direction: row;
    margin-bottom: 5.1%;

    &-text {
      margin-top: 9.7%;
      margin-left: -1.5%;

      span {
        &:before {
          position: relative;
          display: inline-block;
          content: "";
          width: 51px;
          height: 2px;
          background-color: #D3BA74;
          top: 0px;
          left: -10px;
          margin-right: 8px;
        }
      }

      h2 {
        margin-top: 2.3%;
        margin-bottom: 4%;
      }
    }
  }

  &-foto {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    flex-wrap: wrap;
    row-gap: 10px;
    margin-bottom: 12%;
  }
}

.goals {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.explore {
  border-top: 1px solid rgba(255, 255, 255, 0.2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);;
  margin-top: 10.5%;
  padding-top: 6.4%;
  padding-bottom: 6.4%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;

  &-text {
    p {
      margin-top: 2%;
      margin-bottom: 10%;
      margin-right: 20%;
    }
  }
}

.footer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin-top: 3.2%;

  &-social_media {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 18%;
  }
}

$sm: 576px;
$md: 768px;
$lg: 992px;
$xl: 1200px;
$xxl: 1400px;

// color
$white: #FFFFFF;
$yellow: #D3BA74;
$p_color: rgba(255, 255, 255, 0.8);
$count: rgba(255, 255, 255, 0.13);

// size
$h1: 100px;
$h2: 70px;
$h3_m: 180px;
$h3_d: 100px;
$main_text: 16px;
$add_text_h: 20px;
$add_text: 14px;
$button: 12px;



@mixin text ($color, $size, $height, $weight) {
  color: $color;
  font-size: $size;
  line-height: $height;
  font-weight: $weight;
}

h1 {
  @include text ($white, $h1, 100px, 400);
  font-family: Payfair Display;
}

h2 {
  @include text ($white, $h2, 70px, 400);
  font-family: Payfair Display;
}

h3 {
  @include text ($count, $h3_m, 270px, 600);
  font-family: Poppins;
}

.h3_d {
  @include text ($count, $h3_d, 110px, 600);
  font-family: Poppins;
}

p {
  @include text ($p_color, $main_text, 24px, 300);
  font-family: Poppins;
}

span {
  @include text ($yellow, $add_text, 22px, 700);
  font-family: Poppins;
  letter-spacing: 0.24em;
}

.span_h {
  @include text ($yellow, $add_text_h, 22px, 700);
  font-family: Poppins;
  letter-spacing: 0.24em;
}

button {
  @include text ($white, $button, 18px, 400);
  font-family: Poppins;
  border: 1px solid #FFFFFF;
  border-radius: 4px;
  background: none;
  padding: 10px 16px;
  width: 110px;
  height: 38px;
}

@media screen and (max-width: $lg) {
  .header-inf {
    width: 100%;
    p {
      margin-top: 5%;
      margin-bottom: 5%;
    }
  }

  .start-inf, .things, .visit-inf, .explore {
    flex-direction: column;

    &-text {
      margin: 0;
      span, p, h2 {
        margin-left: 0;
      }
    }
  }

  .things {
    flex-direction: column-reverse;
    h3 {
      display: none;
    }
    span:after {
      content: "02";
      color: rgba(255, 255, 255, 0.13);
      font-size: 180px;
      line-height: 270px;
      font-weight: 600;
      font-family: Poppins;
      top: 72px;
      position: relative;
    }
  }

  .explore {
    p {
      margin-bottom: 3%;
    }
  }

  .goals {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(2, 1fr);
    justify-content: center;
    row-gap: 15%;
  }

}

@media screen and (max-width: $md) {
  .start-inf, .things, .visit-inf, .explore {
    img {
      width: 320px;
      height: 320px;
    }
  }
}

@media screen and (max-width: $sm) {
  h1 {
    font-size: 70px;
  }

  .things span:after {
    content: "02";
    color: rgba(255, 255, 255, 0.13);
    font-size: 100px;
    line-height: 100px;
    font-weight: 600;
    font-family: Poppins;
    top: 72px;
    position: relative;
  }

  h3 {
    font-size: 130px;
  }

  .h3_d {
    font-size: 70px;
  }

  .goals {
    gap: 20px;
  }

  .footer {
    flex-direction: column;
    gap: 20px;

    &-social_media {
      gap: 25px;
    }
  }
}
  